.box
  .inner
    .page
      %article
        %h1.page-header 会员列表

        .page-content

          .user-grid
            %ul
              - @users.each do |user|
                %li
                  .avatar
                    %a{href: "/member/#{user.nickname}"}
                      = large_avatar(user)
                  .name
                    %a{href: "/member/#{user.nickname}"}  #{user.nickname}

